name: Check Pull Request

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, edited]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - run: pnpm install
      - run: pnpm test

  validate:
    name: Validate
    runs-on: ubuntu-latest
    env:
      PR_TITLE: "${{ github.event.pull_request.title }}"
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: pnpm
      - run: pnpm install
      - run: pnpm install @commitlint/config-conventional@19.x
      - name: Lint
        run: pnpm lint
      - name: Check PR Title
        run: echo "$PR_TITLE" | pnpm -s dlx commitlint@19.x